.post{
    display:flex;
    border-top:solid;
    border-bottom:solid;
    border-left:solid;
    margin-bottom:10px;
    position: relative;
}

.element{
    border-right:solid;
    /* text-align:center; */
    display:flex;
    /* position: absolute; */
    /* top: 50%; */
    justify-content: center;
    align-items: center;
}

.checkbox{
    width:10%;
}

.title{
    width:35%;
}

.category{
    width:15%;
}

.importance{
    width:10%;
}

.deadline_dateTime{
    width:30%;
} 